.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.row {
  display: flex;
  gap: 2rem;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.read-the-docs {
  color: #888;
}