@import './styles/global.css';

:root {
  /* Fonts */
  --font-display: 'Amatic SC', cursive;
  --font-body: 'Poppins', system-ui, sans-serif;

  /* Colors - Gradient */
  --color-primary: #2a3fff;
  --color-primary-dark: #0b155e;

  /* Apply fonts */
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: transparent;
}

html {
  background: transparent;
}

#root {
  width: 100%;
  height: 100vh;
}
