.abstract-bg {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.abstract-bg-gradient {
  position: absolute;
  inset: 0;
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.abstract-bg-blur {
  display: none;
}

.abstract-bg-grain {
  display: none;
}

.abstract-bg-content {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
